<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Your Site</title>
  <link rel="stylesheet" href="/taezatria.github.io/static/css/style.css">
  

</head>
<body class="box">

<nav class="nav-menu">
    <ul>
        <li><a href="/taezatria.github.io/">Home</a></li>
        <li><a href="https://github.com/sloria/flask-ghpages-example">Source</a></li>
    </ul>
</nav>

<div class="container">

  <div class="content" role="main">
    

<h2>Posts</h2>

<ul class="page-list">
  
</ul>

  </div>

</div><!-- end container -->
<script src="/taezatria.github.io/static/js/script.js"></script>
</body>
</html>